In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [2]:
d=pd.read_csv("C:\\Users\\HP\\Desktop\\Assignment\\laptops2.csv",sep=None,thousands=',',engine='python')

In [3]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 709 entries, 0 to 708
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             709 non-null    int64
 1   Rating            709 non-null    float64
 2   graphic_card      709 non-null    object
 3   Company           709 non-null    object
 4   touchscreen       709 non-null    object
 5   Gen_type          709 non-null    object
 6   Ram_in_gb         709 non-null    int64
 7   Disk_drive        709 non-null    object
 8   Processor_Name    709 non-null    object
 9   processor_type    709 non-null    object
 10  Operating_System  709 non-null    object
dtypes: float64(1), int64(2), object(8)
memory usage: 61.1+ KB

In [4]:
d['Processor_Name'].unique()

array(['Intel', 'AMD', 'Not Metioned', 'Microsoft'], dtype=object)

In [5]:
d['processor_type'].unique()

array(['i5', 'Ryzen 3', 'Ryzen 5', 'i3', 'Celeron', 'Not Metioned', 'APU',
       'Athlon', 'Pentium', 'Ryzen 7', 'i7', 'i9', 'SQ1', 'm3'],
      dtype=object)

In [6]:
d['Operating_System'].unique()

array(['Windows 10', 'Mac', 'DOS', 'Windows 8', 'Linux/Ubuntu'],
      dtype=object)

In [7]:
d['Disk_drive'].unique()

array(['SSD', 'HDD', 'Both', 'Not Metioned'], dtype=object)

In [8]:
d['Company'].unique()

array(['Acer', 'HP', 'Lenovo', 'Asus', 'MSI', 'Dell', 'Apple',
       'MICROSOFT', 'Nokia', 'ALIENWARE', 'LG', 'Avita', 'Nexstgo',
       'Vaio', 'lenovo', 'iBall', 'Smartron', 'AGB', 'LAVA'], dtype=object)

In [9]:
d['graphic_card'].unique()

array(['Yes', 'No'], dtype=object)

In [10]:
d['touchscreen'].unique()

array(['No', 'Yes'], dtype=object)

In [11]:
from sklearn.preprocessing import LabelEncoder
def encoding(feature):
    d[feature] = LabelEncoder().fit_transform(d[feature])
features = ['Processor_Name','processor_type','Operating_System','Disk_drive','Company','graphic_card','touchscreen']
for i in features:
    encoding(i)

In [12]:
for i in d.columns:
    if(d[i].dtype == 'object'):
        d[i]= d[i].astype('category')
        d[i] = d[i].cat.codes

In [13]:
d.head()

,Price,Rating,graphic_card,Company,touchscreen,Gen_type,Ram_in_gb,Disk_drive,Processor_Name,processor_type,Operating_System
0,49990,4.4,1,2,0,7,8,3,1,10,3
1,33990,4.2,0,7,0,8,8,1,0,5,3
2,27990,4.2,0,10,0,8,4,1,0,5,3
3,36990,4.7,0,7,0,8,8,3,0,5,3
4,63990,4.5,1,10,0,8,8,3,0,6,3

In [14]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 709 entries, 0 to 708
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             709 non-null    int64
 1   Rating            709 non-null    float64
 2   graphic_card      709 non-null    int32
 3   Company           709 non-null    int32
 4   touchscreen       709 non-null    int32
 5   Gen_type          709 non-null    int8
 6   Ram_in_gb         709 non-null    int64
 7   Disk_drive        709 non-null    int32
 8   Processor_Name    709 non-null    int32
 9   processor_type    709 non-null    int32
 10  Operating_System  709 non-null    int32
dtypes: float64(1), int32(7), int64(2), int8(1)
memory usage: 36.8 KB

In [15]:
d['Gen_type'].unique()

array([7, 8, 1, 0, 2, 3, 6, 5, 4], dtype=int8)

In [16]:
d['Gen_type'].replace(to_replace='Not Mentioned',value=0,inplace=True)

In [17]:
d['Rating']=d['Rating'].round(2)

In [18]:
d.head()

,Price,Rating,graphic_card,Company,touchscreen,Gen_type,Ram_in_gb,Disk_drive,Processor_Name,processor_type,Operating_System
0,49990,4.4,1,2,0,7,8,3,1,10,3
1,33990,4.2,0,7,0,8,8,1,0,5,3
2,27990,4.2,0,10,0,8,4,1,0,5,3
3,36990,4.7,0,7,0,8,8,3,0,5,3
4,63990,4.5,1,10,0,8,8,3,0,6,3

In [19]:
x=d.iloc[:,1:]
y = d.iloc[:,0]

In [20]:
x

,Rating,graphic_card,Company,touchscreen,Gen_type,Ram_in_gb,Disk_drive,Processor_Name,processor_type,Operating_System
0,4.4,1,2,0,7,8,3,1,10,3
1,4.2,0,7,0,8,8,1,0,5,3
2,4.2,0,10,0,8,4,1,0,5,3
3,4.7,0,7,0,8,8,3,0,5,3
4,4.5,1,10,0,8,8,3,0,6,3
...,...,...,...,...,...,...,...,...,...,...
704,4.0,1,7,0,5,4,1,1,10,3
705,4.2,1,4,0,8,16,3,0,3,3
706,4.2,1,4,1,0,16,3,1,11,3
707,4.2,0,6,0,8,8,3,0,6,3
708,4.3,0,6,0,0,8,3,1,9,3

In [21]:
y

0       49990
1       33990
2       27990
3       36990
4       63990
        ...
704     63500
705    144990
706    158990
707     49999
708     49999
Name: Price, Length: 709, dtype: int64

In [22]:
from sklearn.model_selection import train_test_split, cross_val_score
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=0.3, random_state=0)

In [23]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 709 entries, 0 to 708
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             709 non-null    int64
 1   Rating            709 non-null    float64
 2   graphic_card      709 non-null    int32
 3   Company           709 non-null    int32
 4   touchscreen       709 non-null    int32
 5   Gen_type          709 non-null    int8
 6   Ram_in_gb         709 non-null    int64
 7   Disk_drive        709 non-null    int32
 8   Processor_Name    709 non-null    int32
 9   processor_type    709 non-null    int32
 10  Operating_System  709 non-null    int32
dtypes: float64(1), int32(7), int64(2), int8(1)
memory usage: 36.8 KB

In [24]:
d['Ram_in_gb']

0       8
1       8
2       4
3       8
4       8
       ..
704     4
705    16
706    16
707     8
708     8
Name: Ram_in_gb, Length: 709, dtype: int64

In [25]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 709 entries, 0 to 708
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             709 non-null    int64
 1   Rating            709 non-null    float64
 2   graphic_card      709 non-null    int32
 3   Company           709 non-null    int32
 4   touchscreen       709 non-null    int32
 5   Gen_type          709 non-null    int8
 6   Ram_in_gb         709 non-null    int64
 7   Disk_drive        709 non-null    int32
 8   Processor_Name    709 non-null    int32
 9   processor_type    709 non-null    int32
 10  Operating_System  709 non-null    int32
dtypes: float64(1), int32(7), int64(2), int8(1)
memory usage: 36.8 KB

In [26]:
models = []

models.append(('LR    ', LinearRegression()))
models.append(("Random-Forest",RandomForestRegressor()))
models.append(("XGBoost ",XGBRegressor()))

for name, model in models:
    model.fit(xtrain, ytrain)
    ypred = model.predict(xtest)
    print(f"{name} -: {r2_score(ytest, ypred)*100}")

LR     -: 66.07709046205079
Random-Forest -: 80.30604867658727
XGBoost  -: 81.20542447767409

In [27]:
from sklearn.model_selection import GridSearchCV

xgb1 = XGBRegressor()

params= {
     'max_depth':[6,7,8],
     'colsample_bytree':[0.8,0.9,1],
     'reg_alpha':[0, 0.001,0.005, 0.01, 0.05,1]

}
xgb_grid = GridSearchCV(xgb1,params,n_jobs=5,cv=3,verbose=True)
xgb_grid.fit(xtrain,ytrain)

Fitting 3 folds for each of 54 candidates, totalling 162 fits

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.
[Parallel(n_jobs=5)]: Done  40 tasks      | elapsed:    9.2s
[Parallel(n_jobs=5)]: Done 162 out of 162 | elapsed:   20.2s finished

GridSearchCV(cv=3,
             estimator=XGBRegressor(base_score=None, booster=None,
                                    colsample_bylevel=None,
                                    colsample_bynode=None,
                                    colsample_bytree=None, gamma=None,
                                    gpu_id=None, importance_type='gain',
                                    interaction_constraints=None,
                                    learning_rate=None, max_delta_step=None,
                                    max_depth=None, min_child_weight=None,
                                    missing=nan, monotone_constraints=None,
                                    n_estimators=100, n_jobs=None,
                                    num_parallel_tree=None, random_state=None,
                                    reg_alpha=None, reg_lambda=None,
                                    scale_pos_weight=None, subsample=None,
                                    tree_method=None, validate_parameters=None,
                                    verbosity=None),
             n_jobs=5,
             param_grid={'colsample_bytree': [0.8, 0.9, 1],
                         'max_depth': [6, 7, 8],
                         'reg_alpha': [0, 0.001, 0.005, 0.01, 0.05, 1]},
             verbose=True)

In [28]:
xgb_grid.best_estimator_

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.9, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=4, num_parallel_tree=1, random_state=0,
             reg_alpha=1, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [29]:
ypred=xgb_grid.predict(xtest)
r2_score(ytest,ypred)

0.8325792514702441

In [30]:
xgb1 = XGBRegressor(n_estimators=81,max_depth=6,colsample_bytree=0.8,reg_alpha=1,learning_rate=0.1,random_state=69)

In [31]:
xgb_grid.best_estimator_

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.9, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=4, num_parallel_tree=1, random_state=0,
             reg_alpha=1, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [32]:
ypred=xgb_grid.predict(xtest)
r2_score(ytest,ypred)

0.8325792514702441

In [33]:
xgb1 = XGBRegressor(random_state=69)
params= {
     'n_estimators':[81],
     'reg_alpha':[1], 
     'learning_rate': [0.1],
     'subsample':[0.8],
     'colsample_bytree':[0.8],
     'gamma':[0],
     'max_depth':[6]
}
xgb_grid = GridSearchCV(xgb1,params,n_jobs=5,verbose=True)
xgb_grid.fit(xtrain,ytrain)

Fitting 5 folds for each of 1 candidates, totalling 5 fits

[Parallel(n_jobs=5)]: Using backend LokyBackend with 5 concurrent workers.
[Parallel(n_jobs=5)]: Done   2 out of   5 | elapsed:    0.2s remaining:    0.3s
[Parallel(n_jobs=5)]: Done   5 out of   5 | elapsed:    0.2s finished

GridSearchCV(estimator=XGBRegressor(base_score=None, booster=None,
                                    colsample_bylevel=None,
                                    colsample_bynode=None,
                                    colsample_bytree=None, gamma=None,
                                    gpu_id=None, importance_type='gain',
                                    interaction_constraints=None,
                                    learning_rate=None, max_delta_step=None,
                                    max_depth=None, min_child_weight=None,
                                    missing=nan, monotone_constraints=None,
                                    n_estimators=100, n_jobs=None,
                                    num_parallel_tree=None, random_state=69,
                                    reg_alpha=None, reg_lambda=None,
                                    scale_pos_weight=None, subsample=None,
                                    tree_method=None, validate_parameters=None,
                                    verbosity=None),
             n_jobs=5,
             param_grid={'colsample_bytree': [0.8], 'gamma': [0],
                         'learning_rate': [0.1], 'max_depth': [6],
                         'n_estimators': [81], 'reg_alpha': [1],
                         'subsample': [0.8]},
             verbose=True)

In [34]:
ypred=xgb_grid.predict(xtest)
r2_score(ytest,ypred)

0.8458708691924888

In [35]:
import joblib

In [36]:
joblib.dump(xgb_grid,'model1.pkl')

['model1.pkl']

In [37]:
model=joblib.load('model1.pkl')

In [38]:
model.predict(np.array(list(xtest.iloc[5,:])).reshape(1,-1))[0]

89274.0

In [39]:
np.array(list(xtest.iloc[1,:]))

array([3.7, 0. , 7. , 1. , 8. , 4. , 2. , 1. , 2. , 2. ])

In [40]:
xtest

,Rating,graphic_card,Company,touchscreen,Gen_type,Ram_in_gb,Disk_drive,Processor_Name,processor_type,Operating_System
540,3.6,0,4,0,0,4,1,1,9,3
467,3.7,0,7,1,8,4,2,1,2,2
355,4.2,0,4,0,0,16,3,1,11,3
172,4.7,0,3,0,0,16,3,1,10,2
637,4.4,0,10,1,0,8,3,1,10,3
...,...,...,...,...,...,...,...,...,...,...
676,2.5,0,7,0,0,4,1,1,9,3
263,4.5,0,4,0,6,8,3,1,11,3
463,4.2,0,4,0,8,4,3,0,6,3
267,3.8,0,10,0,8,4,1,0,6,3
159,4.6,0,7,1,8,8,3,0,6,3

In [41]:
ytest.iloc[5]

103828

In [42]:
d.to_csv('with_encoded.csv')